/* опишем базовый стиль кнопки калькулятора */
.my-btn { 
  margin-right: 5px;           /* задаем отступ от кнопки справа */
  margin-top: 5px;             /* задаем отступ от кнопки сверху*/
  width: 50px;                 /* задаем ширину кнопки */
  height: 50px;                /* задаем высоту кнопки */
  border-radius: 4px;          /* небольшое скругление */
  border: 1px solid #e5e5e5;   /* тонкая светлая обводка */
  background: #f1f2f3;         /* желтый фон для кнопок с цифрами */
  color: #38393d;              /* темно-синий текст */
  font-size: 1.5rem;           /* увеличим размер шрифта */
  font-family: Arial, Helvetica, sans-serif; /* шрифт */
  cursor: pointer;             /* при наведении на кнопку курсор будет изменен */
  user-select: none;           /* отключаем возможность выделить текст внутри кнопки */
} 

/* hover - это состояние элемента, когда на него наведен курсор */
.my-btn:hover {
  background: #ed2324;         /* светло-красный фон при наведении */
  border-color: #ed2324;       /* красная обводка */
  color:  #ffffff;
}

/* active - это состояние активации элемента. В случае кнопки - нажатие на нее */
.my-btn:active {
  filter: brightness(130%);    /* увеличим интенсивность цвета для эффекта вспышки */
}

/* селектор для кнопок первостепенных операций */
.my-btn.primary { 
  background: #38393d;         /* темно-синий */
  color: #ffffff;              /* белый текст */
  border-color: #38393d;       /* обводка в тон */
}

.my-btn.primary:hover {
  background: #ed2324;         /* светло-красный фон при наведении */
  border-color: #ed2324;       /* красная обводка */
  color:  #ffffff;    /* голубая обводка при наведении */
}

/* селектор для кнопок второстепенных операций */
.my-btn.secondary { 
  background: linear-gradient(to right, #7400e9, #65c8ff);
  color: white;  
  border: none;  
  transition: opacity 0.3s ease; /*плавность*/
}

.my-btn.secondary:hover {
  background: linear-gradient(to right, #65c8ff, #7400e9);  
  opacity: 0.9;  /*лёгкое затемнение*/
}

/* селектор для кнопки расчета выражения (=) */
.my-btn.execute { 
  width: 110px;                /* сделаем кнопку шире других */
  background: #38393d;         /* темно-синий */
  color: #ffffff;              /* белый текст */
  border-color: #38393d;
}

.my-btn.execute:hover {
  background: #ed2324;         /* чуть светлее при наведении */
  border-color: #ed2324;       /* голубая обводка при наведении */
}

/* селектор для поля вывода результата */
.result { 
  width: 509px;
  height: 50px;
  margin-bottom: 15px;         /* отступ снизу */
  padding-right: 10px;         /* выступ справа */
  background: #38393d;         /* белый фон */
  border: 1px solid #e5e5e5;   /* тонкая обводка */
  border-bottom: 2px solid #ffffff; /* голубая полоса снизу */
  border-radius: 4px;
  text-align: right;           /* примагнитим текст к правой стороне */
  color: #ffffff;              /* темно-синий текст */
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
}

/* для кнопки backspace */
.my-btn.back{
  background: linear-gradient(to right, #7400e9, #65c8ff);
  color: white;  
  border: none;  
  transition: opacity 0.3s ease; /*плавность*/
  width: 132px;
}
.my-btn.back:hover {
  background: linear-gradient(to right, #65c8ff, #7400e9);  
  opacity: 0.9;  /*лёгкое затемнение*/
}

.main {
  padding: 12px; /* внутренний отступ */
  width: 520px;
  background-color:'white';
  border-radius: 12px; 
  border: 6px solid #38393d;
}

[id^="btn_digit_"]{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}
body{
  display: flex;
  justify-content: center;
}